body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline; 
}
.header{
    margin: 0;
    display: flex;
    align-items: center;
}
.header-nav {
    margin-left: auto;
}
header ul{
    display: flex;
}
header li {
    list-style-type: none;
}
header li + li {
    margin-left: 40px;
}
.sp-header{
    display: none;
    width: 100%;
    background-color: #ffffff;
}
.btn{
    background-color: #00ffff;
    padding: 8px 16px;
    text-align: center;
}
.notice{
    width: 80%;
    margin: 0 auto;
}
ul{
	padding: 0;
	list-style: none;
}
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0.6;
    border-radius: 50%;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #000000;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
.none{
    display: none;
}
.block{
    display: block;
}
.inb{
    display: inline-block;
}
.tool{
    display: flex;
    margin: 0 auto;
}
.tool div{
    width: 60%;
    margin: 0 auto;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}
.footer{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}
@media (max-width:430px){
    .header,.block,.tool img{
        display: none;
    }
    .sp-header,.none,.tool{
        display: block;
    }
    .sp-header{
        width: 100%;
        background-color: #ffffff;
    }
    .notice h1{
        text-align: center;
    }
    .tool div{
        width: 100%;
        margin: 0 auto;
    }
    iframe{
        width: 100%;
        height: 1000px;
    }
}